body{
    background: beige;
}
.generalContainer{
margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  margin-top: 5%;
}

.flex-container{
    border: 1px solid black;
    background: #ccc;
    padding: 20px;
    display: flex;
    justify-content: center;
    
}

.flex-container-cross{
    border: 1px solid black;
    background: #ccc;
    padding: 20px;
    display: flex;
    align-items: center;
  justify-content: space-between;
  
}


.caja{
    border: 1px solid rgb(70,69,69);
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 120px;
    height: 120px;
    line-height: 120px;
    text-align: center;
    margin: 5px;
}

.cajaColumn1{
    align-self: center;
}

.cajaColumn2{
    align-self: self-start;
}